asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
black==21.8b0
blinker==1.8.2
Brlapi==0.7.0
catfish==1.4.13
ccsm==0.9.14.1
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
command-not-found==0.3
compizconfig-python==0.9.14.1
configobj==5.0.6
coverage==5.5
cryptography==3.4.8
cupshelpers==1.0
dbus-python==1.2.16
decorator==5.0.9
defer==1.0.6
defusedxml==0.7.1
distro==1.4.0
distro-info==0.23+ubuntu1.1
Django==3.2.6
django-allauth==0.45.0
django-background-tasks==1.2.8
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.2
django-extensions==3.1.3
entrypoints==0.3
factory-boy==3.2.0
Faker==8.12.1
flake8==3.9.2
flask==3.0.3
grpcio==1.16.1
gunicorn==20.1.0
html5lib==1.0.1
httplib2==0.14.0
idna==3.2
ifaddr==0.1.6
importlib-metadata==8.5.0
inflection==0.5.1
iniconfig==1.1.1
ipython==7.27.0
ipython-genutils==0.2.0
itsdangerous==2.2.0
jedi==0.18.0
jinja2==3.1.5
kagglehub==0.2.9
keyring==18.0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.12.0
lxml==4.5.0
Mako==1.1.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.2
mccabe==0.6.1
menulibre==2.2.1
mock==4.0.3
MouseInfo==0.1.3
mugshot==0.4.2
mypy-extensions==0.4.3
netaddr==0.7.19
netifaces==0.10.4
nose==1.3.7
numpy==1.24.4
oauthlib==3.1.1
onboard==1.4.1
packaging==21.0
pandas==2.0.3
parso==0.8.2
pathspec==0.9.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.3.1
platformdirs==2.2.0
pluggy==0.13.1
prompt-toolkit==3.0.20
protobuf==3.6.1
psutil==5.5.1
psycopg2-binary==2.9.1
py==1.10.0
PyAutoGUI==0.9.54
pycairo==1.16.2
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyflakes==2.3.1
PyGetWindow==0.0.9
Pygments==2.10.0
PyGObject==3.36.0
PyICU==2.4.2
PyJWT==2.1.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.3.0
pyOpenSSL==25.0.0
pyparsing==2.4.7
pyparted==3.11.2
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
pytest==6.2.4
pytest-cov==2.12.1
pytest-django==4.4.0
pytest-factoryboy==2.1.0
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-decouple==3.4
python-http-client==3.3.7
python-xapp==2.0.1
python3-openid==3.2.0
python3-xlib==0.15
pytweening==1.2.0
pytz==2021.1
pywhatkit==5.4
pyxdg==0.26
PyYAML==5.3.1
regex==2021.8.28
reportlab==3.5.34
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
sendgrid==6.11.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.16.0
soupsieve==1.9.5
sqlparse==0.4.1
starkbank-ecdsa==2.2.0
systemd-python==234
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
tqdm==4.67.1
traitlets==5.0.5
typing-extensions==3.10.0.1
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
urllib3==1.26.6
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==6.7.0
wikipedia==1.4.0
xkit==0.0.0
zeroconf==0.24.4
zipp==3.20.2
